/* REDES SOCIAIS MINI: ;
// --------------------------------------------------
*/

.redes-sociais-mini {
    list-style: none;
    margin: 0 auto;
    padding: 0;
}

.redes-sociais-mini li {
    float: left;
    margin: 2px;
}

.redes-sociais-mini li a {
    background: #3B5998;
    color: #fff;
    text-align: center;
    display: block;
    width: 40px;
    height: 40px;
    font-size: 18px;
    border-radius: 4px;
    box-sizing: border-box;
    padding: 6px;
}
.redes-sociais-mini li a.twitter {
    background: #46A3E9;
}
.redes-sociais-mini li a.youtube {
    background: #CB2027;
}
.redes-sociais-mini li a.linkedin {
    background: #0177B5;
}
.redes-sociais-mini li a.instagram {
    background: #517FA4;
}
.redes-sociais-mini li a.rss {
    background: #F27110;
}
.redes-sociais-mini li a.whatsapp {
    background: #4DC247;
}
.redes-sociais-mini li a.googleplus {
    background: #DD5144;
}
.redes-sociais-mini li a.pinterest {
    background: #BD081B;
}

.redes-sociais-mini li a.googleplus:hover { background: rgb(238, 73, 58); }
.redes-sociais-mini li a.facebook:hover { background-color: rgb(37, 76, 161); }
.redes-sociais-mini li a.twitter:hover { background-color: rgb(75, 156, 214); }
.redes-sociais-mini li a.youtube:hover { background-color: rgb(187, 25, 25); }
.redes-sociais-mini li a.linkedin:hover { background-color: rgb(3, 110, 168); }
.redes-sociais-mini li a.instagram:hover { background: rgb(87, 144, 190); }
.redes-sociais-mini li a.whatsapp:hover { background: rgb(62, 165, 56); }
.redes-sociais-mini li a.pinterest:hover { background: rgb(146, 6, 20); }
.redes-sociais-mini li a.rss:hover { background-color: rgb(255, 102, 0); }